language: scala

scala:
  - 2.11.7
jdk:
  - oraclejdk8

notifications:
  slack: thenewmotion:AXSluctig1mmZbeKRDeeY41s

script:
  - sbt clean coverage test coverageReport &&
    sbt coverageAggregate
after_success:
  - sbt coveralls

cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2/cache
