language: scala

dist: trusty

scala:
  - 2.11.12
  - 2.12.10
  - 2.13.1

jdk:
  - oraclejdk8
  - openjdk8
  - openjdk11

notifications:
  slack: thenewmotion:AXSluctig1mmZbeKRDeeY41s

script:
  - sbt clean coverage test it:test coverageReport &&
    sbt coverageAggregate
after_success:
  - sbt coveralls

cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2/cache
